// Button styles.
.btn {
  border: none;
  display: inline-block;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  background-image: none;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {

  }

  &:active {

  }
}
