// Global form styling should go here.
// Styling for individual forms those should go in their own partials.

// Correct increment/decrement buttons in Safari.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; // Fix offset in Safari.
}

// Remove inner padding in Chrome & Safari on MacOS.
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input,
optgroup,
select,
textarea {
  // Normalize font styles in browsers.
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  // Remove margin in Firefox & Safari.
  margin: 0;
}

input,
textarea {
  -webkit-appearance: none;
  border: none;
  vertical-align: top;
  margin: 0;
  max-width: 100%;
  font-family: $font-family-sans;
  font-size: px-to-rem(16);

  @include placeholder {
    // Probably a different color
  }

  &:focus {
  }

  &:active {
  }
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  width: auto;
}

input[type="radio"] {
  -webkit-appearance: radio;
  width: auto;
}

select {
  text-transform: none;
}

input[type="submit"],
button {
  //probably start by extending .btn
}

label {
}

// sass-lint:disable no-important
fieldset {
  min-width: 0 !important; // Override for Firefox silliness
  padding: 0.35em 0.75em 0.625em; // Correct padding in Firefox.
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

// Probably some styling for error (and/or success) messages too
