@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
  url('../fonts/icons.woff2') format('woff2'),
  url('../fonts/icons.woff') format('woff'),
  url('../fonts/icons.ttf') format('truetype'),
  url('../fonts/icons.svg#icons') format('svg');
}


$i-facebook: "\E001";

$i-instagram: "\E002";

$i-linkedin: "\E003";

$i-pinterest: "\E004";

$i-twitter: "\E005";

$i-youtube: "\E006";
