// Global typography defaults. If these need to be overridden in a specific
// instance, it should be done in a "components" partial
html {
  // You should ALWAYS have this line, unchanged.
  // The px-to-rem function depends on it.
  font-size: ($font-size-base/16) * 100%;
  // Normalize line-height in all browsers.
  line-height: 1.15;
  // Prevent adjustments of font size after orientation changes in iOS
  -webkit-text-size-adjust: 100%;
}

body {
  // Will probably declare fonts, colors, etc. as desired. Examples:
  // font-family: $font-family-sans;
  // font-weight: $font-weight-normal;
  // line-height: 1.4;
  // color: $c-black;
  margin: 0;
}

// Adding the h1-style, etc. classes for use in cases when the design doesn't
// match what the tag ought to be, semantically.
h1,
%h1-style {
}

h2,
%h2-style {
}

h3,
%h3-style {
}

h4,
%h4-style {
}

h5,
%h5-style {
}

h6,
%h6-style {
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

cite {
}

code {
  // font-family: $font-family-mono;
}

dl {
}

dt {
}

dd {
}

b,
strong {
  // font-weight: $font-weight-bold;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

p {
}

ol,
ul {
  list-style: none;
}

// Prevents bullet styling applying to menus, etc.
// Using .main as example; scope selectors as needed
.main ul {
  @extend %bullets;
}

.main ol {
  @extend %numbers;
}

sub,
sup {
  position: relative;
  font-size: 0.8em;
  // Normalize line-height in all browsers.
  line-height: 0;
  vertical-align: bottom;
}

sup {
  top: -0.2em;
}

sub {
  top: 0.2em;
}

small {
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

// Undoing the ugly blue glow that defaults when you focus on a link or anything
// with a tabindex. Put focus state back on links below.
:focus {
  outline: none;
}

a {
  &:hover,
  &:focus {
  }

  &:focus {
  }
}
